/* todo will delete */
.imgtodo {
  background-color: grey;
  width: 30vw;
  height:50vh;
}
body {
  margin:0;
}
img {
  max-width: 100%;
  align-self: center;
}
a {
  color: #cc3300;
}
.child .hiddenlink{
  color:black;
}
nav a{
  color:black;
  text-decoration: none;
}
.col a {
  text-decoration: none;
}

/* typefaces */
h1,h2,h3,h4,p {
  margin: 0;
  padding: 0;
}

h1, h2,h3,h4, nav a {
  font-family: 'EB Garamond', serif;
}
h1 {
  font-size: 2.7em;
}
.header2 h1 {
  text-align: center;
}
h2 {
  font-size: 2.4em;
}
.homechild h2 {
  margin-bottom: 1vh;
}
.about h2 {
  text-align: center;
  margin-bottom: 7.5vh;
}
.bio h2 {
  margin-bottom: 5vh;
}
h3 {
  font-size: 1.7em;
}
.about h3 {
  font-size: 2em;
  margin-bottom: 7.5vh;
  text-align: center;
}
h4 {
  font-size: 1.4em;
}
nav h4 {
  font-size: 1.2em;
}
.about h4 {
  font-size: 1.7em;
  text-align: right;
}
.about h4 {
  margin: 1vh 0;
}
footer h4 {
  padding-bottom: 1vh;
}
p {
  font-family: sans-serif;
  padding-bottom: 10vh;
  font-size: 1.7em;
}
footer p {
  font-size: 1em;
  padding-bottom: .5vh;
}

/* flex stuff */
.parent, .child, header, .header_parent, .header_child, nav ul, .home, .homechild, .ministernav, .ministernavchild, .footer_parent, .footer_child, .ministerarchive, .col {
  display: flex;
}

header, .header_parent, nav ul, .home, .ministernavchild, .footer_parent, .ministerarchive {
  flex-direction: row;
}

.child, .header_child, .homechild, .ministernav, .footer_child, .col {
  flex-direction: column;
}

.parent,.child,.home,.ministerarchive {
  justify-content: space-around;
  align-items: center;
}
.colparent {
  width: 85vw !important;
  flex-direction: row;
}
.col {
  width:40vw;
}
/* header */
header,footer {
  background-color: #cc3300;
  color:white;
}

header img {
  width:7.5vw;
}

header h2 {
  text-align: center;
}

.header_parent {
  margin: 3vh 8vw;
}

.header_child {
  margin-left: 6vw;
  width: 70vw;
}

/* nav */
nav {
  border-bottom: solid #cc3300;
}

nav ul {
  justify-content: space-between;
  padding: 2vh 18vw 2vh 20vw;
  margin:0;
}

.dropdown {
  padding:0;
  border:none;
}

nav a {
  font-size: 1.2em;
}
nav li {
 display: block;
 transition-duration: 0.5s;
}

nav li:hover {
  cursor: pointer;
}

nav ul li ul {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

nav ul li:hover > ul,
nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li ul li {
  clear: both;
  width: 100%;
}

/* body */
.child {
  width:75vw;
  margin: 10vh 0;
  width: 65vw;
  align-items: unset;
}

.home {
  width: inherit;
  margin-bottom: 10vh;
}

.homechild {
  align-items: center;
  text-align: center;
  margin-left:5vw;
}
.homechild h4 {
  border-bottom: solid #cc3300;
}

.ministernavchild {
  justify-content: space-between;
  width: 100%;
}
.ministernav {
  justify-content: space-between;
  align-items: center;
}

.ministerarchive {

}

.bio img {
  border: solid #cc3300;
  padding:.7vw;
  margin:15vh 0 10vh;
}

/* footer */
.footer_child {
  width:30vw;
  margin:5vh 0;
}
.footer_parent {
  align-items: center;
}
#fc1 {
  margin-left: 20vw;
  margin-right:5vw;
}
