
body {
  margin:0;
  background-color: #f2f2f2;
}
img {
  max-width: 100%;
  align-self: center;
  width:100%;
}
a {
  /* color: #cc3300; */
  color:black;
  text-decoration: none;
}

/* typefaces */
h1,h2,h3,h4,p {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4, nav a {
  font-family: 'Times New Roman', serif;
}
h1,h2,h3,h4 {
  text-align: center;
}
h1 {
  font-size: 2.7em;
}
h2 {
  font-size: 2.4em;
  margin-bottom: 3vh;
}
.header_child h2 {
  margin: 0;
}

h3 {
  font-size: 1.7em;
  margin: 0 1vw 1vh 1vw;
}

.header_child h3 {
  margin: 0;
}

h4 {
  font-size: 1.4em;
}
nav h4 {
  font-size: 1.2em;
}

footer h4 {
  padding-bottom: 1vh;
}
p {
  font-family: 'Libre Franklin',sans-serif;
  padding-bottom: 10vh;
  font-size: 1.5em;
  line-height: 125%;
}

footer p {
  font-size: 1em;
  padding: .5vh .5vw;
}

/* flex stuff */
header, nav, .ministernav, .ministernavchild, .slideshow, .slideshownav, .gallery a {
  display: flex;
}

.flex {
  display: flex;
}

.flexcol {
  flex-direction: column;
}

.flexrow {
  flex-direction: row;
}

.justifybetween {
  justify-content: space-between;
}

.justifyaround {
  justify-content: space-around;
}

.justifycenter {
  justify-content: center;
}

.aligncenter {
  align-items: center;
}
.justend {
  justify-content: flex-end;
}
.flexwrap {
  flex-wrap: wrap;
}

.ministernav, .gallery a {
  flex-direction: column;
}
.nomargin {
  margin:0 !important;
}

/* header */

header img {
  width:7.5vw;
}

.headerhome h1, .headerhome h3 {
  text-align: left;
}

.headerhome .header_child {
  margin-left: 3vw;
}
.header_parent {
  margin: 3vh 8vw;
  width: 100vw;
}

.header_child {
  width: 70vw;
}
.headerlink {
  text-decoration: none;
}

/* nav */
nav {
  max-width:80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 10vw 1vh 10vw;
  align-items: center;
  border-top: solid #cc3300;

}
nav .navparent:hover, nav .navactive {
  border-bottom: solid 1.5vh #cc3300;
}

.navactive {
  color: #cc3300;
}
ul {
  margin:0;
  padding: 0;
  list-style: none;
}

.dropdowncontent {
  padding:1vh 1vw;
  margin-top: 1vh;
  border:none;
  background-color: rgb(204,51,0);
  background-color: rgb(204,51,0,.8);
  opacity: 0;
  transition: 1s;
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 2;
}
.dropdowncontent a {
  color: white;
}

nav a {
  font-size: 1.2em;
  margin-bottom: 2vh;
}

.dropdown:hover .dropdowncontent, .dropdowncontent:hover{
  opacity:1;
  display: flex;
}

#nav2 {
  border-right: solid #cc3300;
  margin-right: 5vw;
  padding-right: 2.5vw;
  padding-top: 5vh;
  padding-left:2.5vw;
  width:20vw;
}
#nav2 p {
  padding-bottom:4vh;
  font-size: 1.3em;
}
#nav2 a {
  text-decoration: none;
  color: black;
}
#nav2active {
  color:#cc3300!important;
}
#nav2m {
  display: none;
}
#nav4 {
  height: 80vh;
  z-index: 5;
  position: fixed;
  top: 0;
  background: white;
  width: 100vw;
  flex-direction: column;
  padding: 0;
  padding:10vh 0vw;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
}
#nav4 p {
  padding-bottom: 4vh;
}
#nav4 img {
  width:10vw;
}


/* body */
.parent {
  border-top: solid #cc3300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.child {
  margin-top:5vh;
  display: flex;
  flex-direction: column;
  width:70vw;
}

.width100 {
  width: 100vw;
  max-width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
}

.bodycopy {
  width: 55vw;
}

.toplevel {
  display: flex;
  background-color: rgb(35,41,82);
  background-color: rgb(35,41,82, .9);
  padding:5vh 5vw 0;
  margin:10vh 10vw;
  max-width: 40vw;
}
.toplevelimg {
  max-width: 100vw;
  width: 100%;
  height:100vh;
}
#toplevelabout {
  background-image: url('../img/rkcenter.png');
}
.toplevel a {
    color:white;
    text-decoration: none;
}
.toplevel p {
  padding-bottom: 5vh;
}

.bottommargin {
  margin-bottom: 5vh;
}
.topmargin {
  margin-top: 5vh;
}

.borderbottom {
  border-bottom: solid #cc3300;
  margin-bottom: 10vh;
  padding-bottom: 10vh;
}
.topmargin10 {
  margin-top: 10vh;
  margin-bottom:0;
}
.bottommargin20 {
  margin-bottom: 20vh;
}

.center {
  text-align: center;
}

.mapouter{
  text-align:right;
  height:55vh;
  width:50vw;
  margin-bottom: 10vh;
}
iframe {
  overflow:hidden;
  background:none!important;
  height:55vh;
  width:50vw;
}

/* slideshow */

.gallery a {
  align-items: center;
  justify-content: center;
  margin:5vh 0;
}

.slideshow {
  margin-bottom: 2vh;
  display: flex;
  justify-content: center;
}

.slideshow img {
  display: none;
  border: solid #cc3300;
  padding:.7vw;
  margin: 3vh 3vw;
}
/* replace w one id and remove all ids */
#slide1, #birthday20081, #birthday20071, #service20061,#cooper20061,#nation20041,#building20041,#birthday20041,#tribute20021,#homage20021,#millennium20001,#birthday20001,#centenary19981,#centenary19951, #centenary19931,#interfaith19871,#anniversary19831 {
  display: flex;
}

.slideshownav img{
  margin: 0 .5vw;
  max-height:20vh;
}
.slideshownav {
  margin-bottom: 5vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items:

}

/* footer */
footer {
  background-color: #232952;
  padding: 2vh 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerparent {
  width: 80vw;
  margin:5vh 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#footerchild1 {
  width:35vw;
}

#footerchild2 {
  text-align: right;
}

#yt {
  padding: 1vh 0 0 1vw;
}
 #fb,#yt {
  height:3vw;
  width: auto;
}
footer a, footer {
  color: white;
  text-decoration: none;
  padding: .5vh .5vw;
}

.nav3 {
  display: none;
}
.hide-m {
  display: flex;
}
.hide-d {
  display: none;
}

@media (max-width:768px) {
  .header_parent {
    flex-direction: column;
    margin: 3vh 0;
  }
  .header_child,.headerhome {
     margin-left:0 !important;
  }
  .header_child {
    width: 60vw;
    margin-left: 0;
    text-align: center;
  }
  .header_child a h1, .header_child a h3 {
    text-align: center;
  }
  header img {
    width: 10vw;
  }

  .child {
    width:90vw;
  }
  .flexcol-t {
    flex-direction: column;
  }
  .bodycopy {
    width: 75vw;
  }

}

@media (max-width:500px) {
  .hide-d {
    display: flex;
  }
  .hide-m {
    display: none;
  }

  .header_child {
    width:95vw;
  }
  header img {
    width: 20vw;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.7em;
  }
  h3 {
    font-size: 1.5em;
  }
  p {
    font-size: 1.5em;
  }
  .child,#footerchild1 {
    width: 90vw;
  }
  .child {
    margin:5vh 0;
  }

  nav {
    display: none;
  }
  footer img {
    width:3vw;
  }

  footer {
    padding: 0;
  }
  .footerparent {
    width:90vw;
  }
  #footerchild1 {
    margin-bottom:2vh;
  }
  #footerchild2 {
    text-align: left;
  }
  #nav2 {
    border: 1vw solid rgb(35,41,82);
    border-top:none;
    width: 78vw;
    display: none;
    padding: 5vh 4vw 0;
    margin: 0 5vw;
  }
  #nav2m {
    display: flex;
    width:78vw;
    background-color: rgb(35,41,82);
    height:10vw;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 5vh 5vw 0;
    padding:0 5vw;
  }
  #nav2m img {
    width:8vw;
  }
  #nav2m p {
    padding: 0;
  }


  .flexcol-m {
    flex-direction: column;
  }
  .flexrow-m {
    flex-direction: row;
  }

  .aligncenter-m {
    align-items: center;
  }

  .bodycopy {
    width:85vw;
    margin:2vh 5vw;
  }

  .bottommargin20 {
    margin-bottom: 10vh;
  }

  .nav3 {
    position:fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom:0;
    width:100vw;
    height:10vh;
    background-color: #cc3300;
    color:white;
    z-index: 2;
  }
  .nav3 img {
    width:15vw;
  }

  .mapouter {
    width:90vw;
  }
  iframe {
    width: 90vw;
  }

  #yt, #fb {
    height:4vh;
  }
  .toplevel {
    max-width:80vw;
    margin:5vh 5vw;
  }
  .toplevel p{
    padding-bottom: 2.5vh;
  }
}
@media (min-width:2500px) {
  h1 {
    font-size: 4.7em;
  }
  h2 {
    font-size: 4.2em;
  }
  h3 {
    font-size: 3.5em;
  }
  h4 {
    font-size: 2.5em;
  }
  nav a {
    font-size: 2.5em;
  }
  p {
    font-size: 3em;
  }
  footer p {
    font-size: 2em;
  }
  #nav2 p {
    font-size: 1.9em;
  }
}
